* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* Vista Modal */

#modal {
  display: flex;
  flex-flow: column;
  justify-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 600px;
  align-items: center;
  background: white;
  border: 1px solid white;
  margin: auto;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 2px 2px 6px rgba(0.2, 0.2, 0.2, 0.2);
  overflow: hidden;
}
@media (max-width: 768px) {
  #modal {
    width: 60%;
  }
}
@media (max-width: 300px) {
  #modal {
    width: 85%;
  }
}
#modal a {
  /* position: relative; */
  font-family: Arial, Helvetica, sans-serif;
  right: 0;
  font-weight: 520;
  font-size: 20px;
  text-decoration: none;
  color: teal;
  margin-left: auto;
  padding: 15px 15px 0px 0px;
  float: right;
}
#signUp p a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
#modal a:hover {
  cursor: pointer;
  opacity: 0.7;
}
#modal h2 {
  color: #24baac;
  margin: 40px 0 50px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 26px;
  font-weight: bolder;
}
#container-modal {
  margin: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container-modal input {
  width: 270px;
  margin: 0px 0 5px 0;
  position: center;
  padding: 14px 20px;
  background-color: #f4f3f3;
  border: 1px solid #5da6a6;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  outline: none;
}
#container-modal #errorNameSignUp,
#container-modal #errorEmailSignUp,
#container-modal #errorPassSignUp,
#container-modal #errorPassConfSignUp {
  font-size: 14px;
  color: #e00909;
  align-self: flex-start;
  padding-left: 5px;
  margin-bottom: 10px;
  visibility: hidden;
}
@media (max-width: 768px) {
  #container-modal input {
    width: 100%;
  }
}
#container-modal input::placeholder {
  font-size: 17px;
}
#container-modal button {
  width: 180px;
  padding: 10px 40px;
  margin-bottom: 25px;
  margin-top: 20px;
  border: 1px solid #184e77;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #184e77;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  font-size: 17px;
  color: white;
  letter-spacing: 1px;
}
#escribirPost div button {
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #184e77;
  cursor: pointer;
}
#dataLogIn form button {
  width: 180px;
  justify-content: center;
  position: center;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 20px;
  padding: 10px 40px;
  background: #184e77;
  border-radius: 15px;
  border: 1px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
#container-modal button:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* Vista Registro */
#containerRegistro {
  /* background-image: url(img/img-fondo.jpg); */
  /* background-color: rgba(5, 28, 39, 0.4); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  /* background: #fdf8f8; */
  padding: 30px 0;
}
#containerRegistro .background{
  background-image: url(img/img-fondo.jpg);
  /* background-color: rgba(5, 28, 39, 0.4); */
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
}
#logoPrincipal {
  margin-top: 90px;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #24baac;
}
#logoPrincipal h2 {
  font-size: 28px;
}
#dataLogIn {
  margin: 40px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#dataLogIn #welcome {
  margin-bottom: 35px;
  align-self: center;
  font-size: 17px;
}
#dataLogIn form {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  align-items: center;
}
#dataLogIn form input {
  width: 270px;
  margin: 10px 0 5px 0;
  padding: 14px 20px;
  border-radius: 15px;
  border: 1px solid #5da6a6;
  background-color: #f4f3f3;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  outline: none;
}
#dataLogIn form input::placeholder {
  font-size: 17px;
  background-image: url(img/flecha.png);
  background-repeat: no-repeat;
  background-position: right center;
}
#dataLogIn #errorEmailLogIn,
#dataLogIn #errorPassLogIn {
  font-size: 14px;
  color: #e00909;
  align-self: flex-start;
  padding-left: 15px;
  visibility: hidden;
}
#signUp {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#signUp p {
  margin: 16px 0;
  font-size: 16px;
}

#logosRegister {
  display: flex;
  width: 100px;
  flex-flow: row;
  justify-content: space-between;
}
#google {
  cursor: pointer;
}

/* Vista Inicio */
#containerInicio {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: #fdf8f8;
}
#barraMenu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background: #184e77;
  padding: 10px 20px;
  color: #ffffff;
  justify-content: space-between;
}
.btnSalir:hover {
  cursor: pointer;
}
#infoUsuario {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.portada{
  display:none;
  width: 100px;
  height: 200px;
}
#infoUsuario figure {
  width: 120px;
  height: 120px;
  margin: 20px 15px 20px 20px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  overflow: hidden;
}
/* #infoUsuario figure img {
  height: 120px;
  width: 120px;
} */
.userName {
  color: #24baac;
  font-size: 20px;
  padding-bottom: 7px;
}
.userDescription {
  font-size: 18px;
  color: #837777;
}
@media (min-width: 600px) {
  #infoUsuario figure {
    width: 200px;
    height: 200px;
    margin-left: 60px;
    margin-right: 50px;
  }
  .userPhoto {
    height: 200px;
    width: 200px;
  }
  .userName{
    font-size: 26px;
    padding-bottom: 10px;
  }
  .userDescription{
    font-size: 24px;
  }
}
#escribirPost {
  border: 0.5px solid #184e77;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  margin: 10px 30px;
  padding: 20px;
  margin-left: 5%;
  width: 90%;
}
.textToPost {
  resize: none;
  font-size: 16px;
  border: 0.5px solid #184e77;
  border-radius: 5px;
  padding: 10px;
  background: #fdf8f8;
  height: 120px;
  overflow-wrap: break-word;
  resize: none;
}
#escribirPost div {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 0 10px;
}
.btnFile {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#sectionPosts {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#tablaPosts {
  display: flex;
  flex-flow: column;
  width: 90%;
  border-spacing: 0;
  margin-top: 30px;
}
#sectionPosts table tbody{
  margin-bottom: 30px;
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#sectionPosts div {
  display: flex;
}
#sectionPosts div .icono-conf {
  justify-content: flex-end;
  align-content: flex-end;
  height: 20px;
  margin-top: 4px;
}
#sectionPosts div .icono-conf:hover {
  cursor: pointer;
  opacity: 0.5;
}
#sectionPosts table tbody tr td pre{
  color: #184e77;
  font-size: 12px;
  align-self: flex-end;
}
#sectionPosts table tbody tr th {
  display: flex;
  justify-content: space-between;
  border: 1px solid #5da6a6;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  background: #5da6a6;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}
.userPhotoPost {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
#sectionPosts table tbody tr td {
  display: flex;
  border: 1px solid #5da6a6;
  border-top: none;
  padding: 5px 10px;
  overflow-wrap: break-word;
  text-align: justify;
  font-size: 16px;
  line-height: 25px;
}
#sectionPosts table tbody tr .textPost {
  flex-flow: column nowrap;
}
#sectionPosts table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#logoLike {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #5da6a6;
  margin-right: 10px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
#logoComent {
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #5da6a6;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
#logoLike:active {
  background: #c74c4c;
  border: none;
  transform: scale(1.2);
}
#logoComent:active {
  background: #c9c9c9;
  border: none;
  transform: scale(1.2);
}
